body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15rem;
  letter-spacing: 3rem;
  font-family: monospace;
  
  width: 95%;
  height: 80vh;
  background-color: darkgray;
}